@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --secondary-color: #374754;
    --primary-color: #2091F9;
    --main-color: #252B42;
    --input-background-color: #f5f5f5;
    --border-color: #e8e8e8;
    --white-color: #FFFFFF;
    --primary-font-family: 'Instrument Sans', sans-serif;
    --secondary-font-family: 'Roboto', sans-serif;

}

