.header {
    background-image: url(../images/header-images/background-image.png);
    background-size: cover;
    background-position: 50% 50%;
    display: block;
    width: 100%;
    min-height: calc((832 / 420) * 100vw);
    color: var(--white-color);
    text-align: center;
}

.header__nav__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}


.nav__menu-link {
    color: var(--white-color);
    font-family: var(--primary-font-family);
    flex-direction: row;
    display: flex;
    font-size: 15px;
    line-height: 28px;
    text-decoration: none;
    margin-left: 41px;
}

.nav__menu-link:hover {
    text-decoration: underline;
}

.nav__logo-link {
    width: 186px;
    height: 58px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.nav__social-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 160px;
    font-size: 33px;
}

.header__title {
    font-family: var(--primary-font-family);
    font-size: 48px;
    font-weight: 400;
    line-height: 55px;
    margin: 100px 0 27px;
}

.header__text {
    font-family: var(--primary-font-family);
    font-size: 28px;
    line-height: 40px;
    padding: 0 10px;
}