.newsletter__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.newsletter__photo img {
    align-items: center;
    position: relative;
    width: 386px;
    height: 216px;
    border-radius: 15px;
    padding: 20px;
}

.action-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.action-content__text {
    color: var(--secondary-color);
    font-family: var(--primary-font-family);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 25px;
    letter-spacing: 0.2px;
    padding: 0px, 10px, 0px, 10px;
    gap: 10px;
}

form {
    width: 353px;
    height: 168px;
    padding: 24px, 0px, 24px, 0px;
    gap: 12px;
}

.subscribe-form__input {
    width: 353px;
    height: 54px;
    border-radius: 39px;
    background-color: var(--border-color);
    font-family: var(--secondary-color);
    font-size: 14px;
    line-height: 16px;
    padding: 19px, 35px, 19px, 35px;
    gap: 47px;
}

.subscribe-form__button {
    width: 353px;
    height: 54px;
    border-radius: 39px;
    padding: 19px, 35px, 19px, 35px;
    gap: 10px;
}