.newsletter__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.newsletter__image {
    align-items: center;
    position: relative;
    width: 386px;
    height: 216px;
    border-radius: 15px;
    padding: 20px;
}

.subscription-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.subscription-info__description {
    color: var(--secondary-color);
    font-family: var(--primary-font-family);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 25px;
    letter-spacing: 0.2px;
    padding: 0px, 10px, 0px, 10px;
    gap: 10px;
}