:root {
    --primary-font-family: 
    --secondary-font-family: 
    --font-bold: ;
    
    --primary-color:rgb(32 145 249);
    --color-titles:
    --color-text-info: 
    --color-link-text: 
    --color-background-footer: #252B42;
}